################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MobiasFunctionBuilder/obj/Debug
/MobiasFunctionBuilder.ConsoleTest/obj/Debug
/MobiasFunctionBuilder.UnitTest/obj/Debug
/MobiasFunctionBuilder/bin/Debug
/MobiasFunctionBuilder.UnitTest/bin/Debug/Microsoft.VisualStudio.QualityTools.UnitTestFramework.dll
/MobiasFunctionBuilder.UnitTest/bin/Debug
